<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static 'show_time/css/styles.css' %}" rel="stylesheet" type="text/css">
    <title>Document</title>
  </head>
  <body class="text-center">
    <h2 class="bg-dark text-light p-3">Current Time and Date</h2>
    <p class="border d-inline-block p-5 shadow">{{time}}</p>
  </body>
</html>