<!doctype html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fcf0fdd3e4.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h3 class="p-3 bg-dark text-light"><i class="fas fa-user-ninja mr-3"></i>Dojo Survey</h3>
    <div id="wrapper" class="p-3">
      <h3>Let us know about you!</h3>
      {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
      {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
        <p class="d-inline bg-danger text-light p-2 rounded">{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
      {% endif %}
      {% endwith %}

       <form action='add' method='post' class="w-50">
          <label><b>Name:</b> <input type='text' name='name' class="form-control w-50"></label>
          <label>
            <b>Dojo Location:</b>
            <select name="dojo_location_id" class="form-control w-50">
              {% for dojo in locations %}
              <option value="{{dojo['id']}}">{{dojo['name'].capitalize()}}</option>
              {% endfor %}
            </select>
          </label>
          <label>
            <b>Favorite Language:</b>
            <select name="language_id" class="form-control w-50">
              {% for language in languages %}
              <option value="{{language['id']}}">{{language['name'].capitalize()}}</option>
              {% endfor %}
            </select>
          </label>
          <label>
            <b>Comment(optional):</b>
            <textarea rows="3" name="comment" class="form-control w-75"></textarea></label>
          <div>
            <button class="btn btn-success my-3">Submit</button>
          </div>
        </form>
      <p> -- or -- </p>
      <form action="submissions">
        <button class="btn btn-sm btn-primary my-3">View Submissions</button>
      </form>
    </div>

  </body>
</html>