* {
    margin: 0;
    padding: 0;
    font-size: 0;
}

#wrapper {
    padding: 25px;
    margin: 0 auto;
}

.checkers {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: red;
}

.checker_row:nth-child(odd) > .checkers:nth-child(even) {
    background-color: black;
}
.checker_row:nth-child(even) > .checkers:nth-child(odd) {
    background-color: black;
}