<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fcf0fdd3e4.js"></script>
    <title>Dojos and Ninjas</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark  navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fas fa-user-ninja mr-3"></i>Dojo Database</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dojos">Dojos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ninjas">Ninjas</a>
        </li>
      </ul>
    </nav>    <div class="container">
      <h1>All Ninjas</h1>
      <table class="table table-sm table-bordered table-striped">
       <thead>
         <th>ID</th>
         <th>Name</th>
         <th>Dojo</th>
         <th>Actions</th>
       </thead>
       <tbody>
         {% for ninja in ninjas %}
         <tr>
           <td>{{ninja['id']}}</td>
           <td>{{ninja['first_name']}} {{ninja['last_name']}}</td>
           <td>{{ninja['dojo']['name']}}: {{ninja['dojo']['city']}}, {{ninja['dojo']['state']}}</td>
            <td style="width: 50px;" class="text-center">
             <a class="text-danger" href="/ninjas/{{ninja['id']}}/destroy"><i class="fas fa-trash-alt"></i></a>
           </td>
         </tr>
         {% endfor %}
        </tbody>
      </table>
      <hr>
     <form action="/create-ninja" method="post" class="w-50">
       <input type="hidden" name="page" value="ninjas">
      <h3>Add Ninja</h3>
       <div class="mb-2 d-flex justify-content-between">
         <label for="first_name">First Name:
         <input id="first_name" name="first_name" type="text" class="form-control" required></label>
         <label for="last_name">Last Name:
         <input id="last_name" name="last_name" type="text" class="form-control" required></label>
       </div>
       <div class="mb-2 d-flex justify-content-between">
         <select name="dojo_id" class="form-control">
           {% for dojo in dojos %}
           <option value="{{dojo['id']}}">{{dojo['name']}}: {{dojo['city']}}, {{dojo['state']}}</option>
           {% endfor %}
         </select>
       </div>
       <button class="btn btn-sm btn-primary">Add Ninja</button>
     </form>
   </div>
  </body>
</html>