<!doctype html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/fcf0fdd3e4.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark  navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fas fa-user-ninja mr-3"></i>Dojo Tweets</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
      </ul>
      <span class="float-right text-light">
        <span class="welcome">
          {% if session['first_login'] %}
          Welcome, {{user['first_name']}}!
          {% else %}
          Welcome back, {{user['first_name']}}
          {% endif %}
        </span>
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-4"></i>
        </a>
    </span>
    </nav>
    <div class="alerts">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{category}} text-light" role="alert">{{message}}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="container p-5">

      <div id="avatar_container" class="text-center d-inline-block">
        {% for file in user['user_avatar'] %}
        <img src="{{ url_for('static', filename='img/' + file.file_path) }}" id="avatar" class="d-block shadow">
        {% endfor %}
        <a href="/upload"><button class="btn btn-sm btn-light mt-2">Change Avatar</button></a>
      </div>
    </div>

  </body>
</html>