<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    {% if colors %}
    <style>
        .color1 {
            background-color: {{color1}};
        }
        .color2 {
            background-color: {{color2}};
        }
    </style>
    {% endif %}
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        {% for y in range(y_rows) %}
        <div class="checker_row">
        {% for x in range(x_rows) %}
        <div class="checkers color{{ (x+y)%2+1 }}"></div>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>