* {
    font-family: 'Roboto', sans-serif;
}
p {
    margin: 0 !important;
}
label {
    display: block !important;
    margin: 10px 0;
}
.alerts {
    position: absolute;
    right: 0
}
.alert-error {
    background-color: red !important;
}
.alert-success {
    background-color: green !important;
}
.welcome {
    font-size: 18px;
}

.float-right  {
    vertical-align: middle;
}
.user_actions {
    width: 55%;
    min-width: 500px;
}
form {
    min-width: 350px;
    margin: 0 auto;
}
img #bird {
    z-index: -1000;
    bottom: 50px;
    min-width: 400px;
    margin: auto;
}
textarea[name=content] {
    resize: none;
}

#avatar {
    width: 200px !important;
    max-height: 200px;
}