<!doctype html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
  </head>
  <body>
    <div id="wrapper" class="p-3">
      <div class="form_container">
        <h3>Submit a Form</h3>
        <form action='/result' method='post'>
          <label class="d-block">
            <b>Name:</b>
            <input type='text' name='name' class="form-control w-50">
          </label>
          <label class="d-block">
            <b>Location:</b>
            <select name="location" class="form-control w-50">
              <option value="" autofocus>Choose a Location</option>
              <option value="San Jose">San Jose</option>
              <option value="Online">Online</option>
              <option value="Berkley">Berkley</option>
            </select>
          </label>
          <div>
            <b>Level of Coding Knowledge:</b>
            <label>
              <input type="radio" name="level" value="novice" class="mx-2">Novice
            </label>
            <label>
              <input type="radio" name="level" value="intermediate" class="mx-2">Intermediate
            </label>
            <label>
              <input type="radio" name="level" value="expert" class="mx-2">Expert
            </label>
          </div>
          <div>
            <b>Languages Known:</b>
            <label>
              <input type="checkbox" name="known_languages[]" class="mx-2" value="JavaScript"/>Javascript
            </label>
            <label>
              <input type="checkbox" name="known_languages[]" class="mx-2" value="Python"/>Python
            </label>
            <label>
              <input type="checkbox" name="known_languages[]" class="mx-2" value="Ruby"/>Ruby
            </label>
            <label>
              <input type="checkbox" name="known_languages[]" class="mx-2" value="HTML"/>HTML
            </label>
            <label>
              <input type="checkbox" name="known_languages[]" class="mx-2" value="CSS"/>CSS
            </label>
          </div>
          <label class="d-block">
            <b>Favorite Language:</b>
            <select name="fave_language" class="form-control w-50">
              <option value="" autofocus>Choose a Language</option>
              <option value="JavaScript">Javascript</option>
              <option value="Python">Python</option>
              <option value="Ruby">Ruby</option>
              <option value="HTML">HTML</option>
              <option value="CSS">CSS</option>
            </select>
          </label>
          <label class="d-block">
            <b>Comment(optional):</b>
            <textarea rows="3" name="comment" class="form-control w-75"></textarea>
          </label>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>