<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/fcf0fdd3e4.js"></script>
    <title>Book</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark  navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fas fa-book mr-3"></i>Book/Author Database</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/books">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authors">Authors</a>
        </li>
      </ul>
    </nav>
   <div class="container">
     <h1>All Books</h1>
     <table class="table table-sm table-bordered table-striped">
       <thead>
         <th>ID</th>
         <th>Name</th>
         <th>Authors</th>
         <th>Genres</th>
         <th>Actions</th>
       </thead>
       <tbody>
         {% for book in books %}
         <tr>
           <td>{{book['id']}}</td>
           <td>{{book['name']}}</td>
           <td><ul>
             {% for author in book['authors_this_book_has'] %}
             <li>{{author['first_name']}} {{author['last_name']}}</li>
             {% endfor %}
           </ul>
           </td>
           <td>
             <ul>
              {% for genre in book['genres_this_book_has'] %}
               <li>{{genre['name']}}</li>
               {% endfor %}
             </ul>
           </td>
           <td>
             <a href="/books/{{book['id']}}">Details</a>
           </td>
         </tr>
         {% endfor %}
       </tbody>
     </table>
     <hr>
   </div>
    <div class="d-flex justify-content-around">
       <form action="/create-book" method="post">
         <input type="hidden" value="index_page" name="button_type">
        <h3>Add a Book</h3>
         <div class="mb-2">
           <label for="name">Name:</label>
           <input id="name" name="name" type="text" class="form-control" required>
         </div>
         <div class="mb-2">
           <label for="genre">Genre</label>
           <select id="genre" name="genre_id" class="form-control">
             {% for genre in genres %}
             <option value="{{genre['id']}}">{{genre['name']}}</option>
             {% endfor %}
           </select>
         </div>
         <div class="mb-2">
           <label for="publication_year">Publication Year:</label>
           <input id="publication_year" name="publication_year" type="number" class="form-control" required>
         </div>
         <div class="mb-2">
           <label for="description">Description:</label>
           <textarea id="description" name="description" rows=3 class="form-control" required></textarea>
         </div>
         <button class="btn btn-sm btn-primary">Add Book</button>
       </form>
       <form action="/create-author" method="post">
         <input type="hidden" value="index_page" name="button_type">

        <h3>Add a Author</h3>
         <div class="mb-2">
           <label for="first_name">First Name:</label>
           <input id="first_name" name="first_name" type="text" class="form-control" required>
         </div>
         <div class="mb-2">
           <label for="last_name">Last Name:</label>
           <input id="last_name" name="last_name" type="text" class="form-control" required>
         </div>
         <div class="mb-2">
           <label for="notes">Notes:</label>
           <textarea id="notes" name="notes" rows=3 class="form-control" required></textarea>
         </div>
         <button class="btn btn-sm btn-primary">Add Author</button>
       </form>
    </div>
  </body>
</html>